<!DOCTYPE html>
<html>
<head>
    <title>Arenas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/code.js" defer></script>
</head>
<body>
    <a href="arena1"><button>Join Experimental Arena</button></a>
    <button id="clearAll">Clear</button> <br><br>
    <p>Faire entrer un personnage dans une arène</p>
    <form action="/addtoArena" method="post">
        <label for="arena">Arène :</label>
        <select name="arena" id="arena" required></select>
        <label for="character">Personnage :</label>
        <select name="character" id="character" required></select>
        <input type="submit" value="Ajouter">
    </form>
    <p>Liste des personnages dans les arènes : <button id="fetchArenas">Fetch Arenas</button></p>
    <div class="donnees" id="arenas"></div>
    <p>Toutes les données : <button id="fetchAll">Fetch all data</button></p>
    <div id="all"></div>
    <p>Liste des charactes : <button id="fetchCharacters">Fetch Characters</button></p>
    <div class="donnees center-horizontal" id="characters">
        <table id="characterTable"></table>
    </div>
</body>
</html>