
h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-top: 20px;
}

.donnees,
#all {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

#characterTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    display: flex;
}

#characterTable td {
    border: 1px solid #ddd;
    padding: 1rem;
    padding-right: 1rem;
}

#characterArena {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    display: flex;
}

#characterArena td {
    border: 1px solid #ddd;
    padding: 1rem;
    padding-right: 1rem;
}

#characterArenaEnemy,
#characterArenaPlayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#charactersArenaEnemy {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#charactersArenaPlayer {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#enemyTeamTxt {
    position: absolute;
    top: 14vh;
    left: 2vw;
    font-family: "LHF Uncial Caps";
    color: rgb(255, 0, 0);
}

#arrowEnemy {
    position: absolute;
    top: 14vh;
    left: 0vw;
    font-family: "LHF Uncial Caps";
    color: rgb(255, 0, 0);
}

#myTeamTxt {
    position: absolute;
    top: 19vh;
    left: 2vw;
    font-family: "LHF Uncial Caps";
    color: rgb(81, 255, 0);
}

#arrowFriend {
    position: absolute;
    top: 19vh;
    left: 0vw;
    font-family: "LHF Uncial Caps";
    color: rgb(81, 255, 0);
}

#changeTurnButton {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "LHF Uncial Caps";
}

@font-face {
    font-family: "LHF Uncial Caps";
    src: url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.eot");
    src: url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/39e7483507205b9a341824a8c21d4a7d.svg#LHF Uncial Caps") format("svg");
}


.celluleblue {
    background-color: blue;
}

.cellulerouge {
    background-color: red;
} */

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-image: url("../static/plateau_test.jpg");
    width: 100vw;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}
#fetchCharactersForArena{
    color: white;
    background-color: green;
}

body {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png) 10 2, auto;
    overflow: hidden;
}

body:active {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-click.png) 10 2, auto;
}

body:after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.card {
    color:white;
    left: 0;
    top: 0;
    z-index: 1;
    perspective: 400px;
    position: absolute;
    transform-style: preserve-3d;
    will-change: transform;
    width: 250px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card:active {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-grab.png) 10 2, auto;
}

.card-image {
    display: block;
    pointer-events: none;
    transform-style: preserve-3d;
    width: 100%;
    will-change: transform;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
